workflow/pipeline_datasheet.json
{
  "name": "pipeline_datasheet",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/files/datasheets/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "7f8a01f1-1915-4e84-aa14-3fb4d6461912",
      "name": "Read/Write Files from Disk",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "b6eaf9bc-b3f4-46ea-905e-dceaec157778",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst maxChars = 12000;\nlet text = $json.text;\n\n// Coupe le bloc disclaimer légal s'il est détecté\nconst noiseMarkers = [\"Legal Disclaimer Notice\", \"ALL RIGHTS RESERVED\"];\nfor (const marker of noiseMarkers) {\n  const idx = text.indexOf(marker);\n  if (idx !== -1) {\n    text = text.slice(0, idx);\n    break;\n  }\n}\n\n// Troncature de sécurité par nombre de caractères\nif (text.length > maxChars) {\n  text = text.slice(0, maxChars);\n  // Coupe à la dernière ligne complète plutôt qu'en plein milieu d'une ligne\n  const lastNewline = text.lastIndexOf(\"\\n\");\n  if (lastNewline > maxChars * 0.8) {\n    text = text.slice(0, lastNewline);\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    text_tronque: text,\n    longueur_originale: $json.text.length,\n    longueur_tronquee: text.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "38b77e1f-437e-41b6-88b9-000870bf353f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a76f1b2-1eb1-413f-88cb-0b44dcb46696",
              "name": "prompt_complet",
              "value": "=Tu es un assistant d'extraction technique spécialisé en composants électroniques. Tu reçois le contenu textuel d'une datasheet de composant électronique (microcontrôleur, capteur, transistor de puissance, etc.). Ta tâche est d'en extraire les informations suivantes et de les structurer au format Markdown ci-dessous.\n\nRÈGLES STRICTES :\n- N'invente aucune information. Si une donnée n'est pas présente dans le texte fourni, indique \"Non spécifié\".\n- Pour les valeurs numériques (tensions, températures), cite la valeur exacte trouvée, avec son unité d'origine.\n- S'il existe plusieurs variantes du composant (plusieurs références dans une même famille, ou plusieurs boîtiers), liste-les toutes plutôt que d'en choisir une arbitrairement.\n- Reste concis : \"Caractéristiques électriques clés\" doit lister 4 à 6 points maximum, les plus pertinents pour un usage en conception électronique.\n- \"Cas d'usage typiques\" doit être déduit des sections \"Applications\" ou \"Typical Applications\" du datasheet si elles existent, sinon indique \"Non spécifié\" plutôt que de deviner.\n- Ajoute un champ \"Source\" indiquant le numéro de page où chaque caractéristique principale a été trouvée, si cette information est identifiable dans le texte, sinon indique \"Non identifiable\".\n\nFORMAT DE SORTIE (remplis exactement ce template, ne change pas la structure) :\n\n# [Nom du composant / référence exacte]\n- Fabricant :\n- Type :\n- Tension d'alimentation :\n- Plage de température :\n- Boîtier/Package :\n- Caractéristiques électriques clés :\n  - (caractéristique 1) — source : page X\n  - (caractéristique 2) — source : page X\n- Cas d'usage typiques :\n- Source globale : (numéro/référence exacte de la datasheet, version, date)\n\nTEXTE DE LA DATASHEET :\n{{ $json.text_tronque }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "id": "64e4239e-b86b-4f2c-8ab2-34a07dd2c13b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contents\": [{\"parts\": [{\"text\": $json.prompt_complet}]}]}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        0
      ],
      "id": "d274c9f5-6286-4fa0-b47a-03fa82106b84",
      "name": "HTTP Request",
      "credentials": {
        "googlePalmApi": {
          "id": "4w1TKSsWb4kgc71e",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Extraction du texte Markdown généré par Gemini\nconst markdown = $json.candidates[0].content.parts[0].text;\n\n// 2. Extraction du nom du composant pour nommer le fichier\n// On cherche la première ligne qui commence par \"# \" (le titre défini dans ton prompt)\nlet nom_fichier = \"composant_inconnu\";\nconst matchTitre = markdown.match(/^#\\s*(.+)$/m);\n\nif (matchTitre && matchTitre[1]) {\n  // On nettoie le nom pour éviter les caractères interdits dans les noms de fichiers\n  nom_fichier = matchTitre[1].replace(/[^a-zA-Z0-9_-]/g, \"_\");\n}\n\n// Ajout de l'extension Markdown\nnom_fichier = nom_fichier + \".md\";\n\n// 3. On renvoie le tout proprement pour le prochain nœud\nreturn {\n  json: {\n    nom_fichier: nom_fichier,\n    contenu_markdown: markdown\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        0
      ],
      "id": "54800d0b-b4b4-4130-a1ab-b38d9395891d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/obsidian/{{ $binary.data.fileName }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1872,
        0
      ],
      "id": "70d4d494-b580-4a5a-ab0b-7ec7555015f6",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "contenu_markdown",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "={{ $json.nom_fichier }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        0
      ],
      "id": "69afb918-4d6c-4b6e-a3c1-2724d87040c1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "ec19aecc-ffb6-433e-84f6-01a099fb595c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "87c503f7-e2fe-47de-ad1f-3f8b04f89035",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "=mv \"/files/datasheets/{{ $('Loop Over Items').item.binary.data.fileName }}\" \"/files/datasheets/archives/{{ $('Loop Over Items').item.binary.data.fileName }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "id": "37bd992a-6c5b-47cc-a635-2a28f7e524c4",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://default371cb15695584286a3cd3059699b89.0c.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/f2e11d70f61d4d16a28608fe8ea4bd30/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Ar7Wvnfp9v0RqcHNiuLxRJ0SrEXjcSDK4j5BCh7V5d0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"message\",\n  \"attachments\": [\n    {\n      \"contentType\": \"application/vnd.microsoft.card.adaptive\",\n      \"content\": {\n        \"type\": \"AdaptiveCard\",\n        \"body\": [\n          {\n            \"type\": \"TextBlock\",\n            \"text\": \"✅ **Le travail est terminé !** Tous les fichiers PDF ont été structurés et archivés avec succès.\",\n            \"weight\": \"bolder\",\n            \"wrap\": true\n          }\n        ],\n        \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n        \"version\": \"1.4\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -144
      ],
      "id": "b70d7026-a3d3-4296-8685-903931b3daf6",
      "name": "HTTP Request1",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://default371cb15695584286a3cd3059699b89.0c.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/f2e11d70f61d4d16a28608fe8ea4bd30/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Ar7Wvnfp9v0RqcHNiuLxRJ0SrEXjcSDK4j5BCh7V5d0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \nJSON.stringify({\n  \"type\": \"message\",\n  \"attachments\": [\n    {\n      \"contentType\": \"application/vnd.microsoft.card.adaptive\",\n      \"content\": {\n        \"type\": \"AdaptiveCard\",\n        \"body\": [\n          {\n            \"type\": \"TextBlock\",\n            \"text\": \"Nouveau fichier **\" + $('Convert to File').item.json.nom_fichier + \"** créé et ajouté à Obsidian.\",\n            \"weight\": \"bolder\",\n            \"wrap\": true\n          }\n        ],\n        \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n        \"version\": \"1.4\"\n      }\n    }\n  ]\n}) \n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2240,
        0
      ],
      "id": "663be69a-cba6-4161-b35f-7c06a9497301",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        0
      ],
      "id": "f14aa341-abf9-4e30-9dce-2e7f8601ac6c",
      "name": "Wait",
      "webhookId": "9df57b55-7637-44d0-8065-638e9464d7c2"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fad77f15-ad03-4330-8ce2-d712d5cb6c7c",
  "meta": {
    "instanceId": "340459484b02eac82195c8028190252fa6d9fa613b9442ddf07c4efc33bb347d"
  },
  "nodeGroups": [],
  "id": "iBRGgUSb9CHEv8WG",
  "tags": []
}